* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2px 2px;
  border-bottom: 1px solid #e2e2e2;
}

.nav-bar-link {
  color: black;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
}

.top-right-buttons {
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 2px;
}

.top-left-icons {
  display: flex;
  justify-content: space-around;
  width: 300px;
}

.btn {
  background-color: rgb(50, 104, 145);
  border: rgb(60, 114, 155);
  color: white;
  padding: 8px;
  border-radius: 5px;
  margin: 3px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-image {
  width: 1160px;
}

.main-header {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  font-size: 20px;
  font-style: italic;
  line-height: 3rem;
  font-weight: 700;
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  padding-top: 100px;
  padding-bottom: 20px;
}

.logo a img {
  width: 200px;
}

main {
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
  font-size: 19px;
  width: 550px;
  left: 50%;
  margin: auto;
}

main p {
  margin: 5px 0;
  line-height: 1.5625rem;
}

.caption {
  width: 1100px;
  padding-top: 10px;
  color: #666;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
}

.grid {
  position: relative;
  right: 200px;
}

.grid-background {
  width: 1000px;
}

.grid .grid-header {
  width: 1000px;
  text-align: left;
}

.grid .grid-header h3 {
  width: 100%;
  text-align: left;
}

.grid .grid-header .grid-header-caption {
  width: 1000px;
}

.grid-text {
  width: 240px;
  font-size: 14px;
  line-height: 20px;
  position: absolute;
}

.box-1 {
  top: 250px;
}

.box-2 {
  top: 250px;
  left: 250px;
}

.box-3 {
  top: 250px;
  left: 500px;
}

.box-4 {
  top: 250px;
  left: 750px;
}

.box-5 {
  top: 550px;
}

.box-6 {
  top: 550px;
  left: 250px;
}

.box-7 {
  top: 550px;
  left: 500px;
}

.box-8 {
  top: 550px;
  left: 750px;
}

hr {
  width: 100px;
}

.video .caption {
  width: 100%;
  font-size: 0.9375rem;
}

.in-text-img img,
.in-text-img p {
  width: 600px;
  font-size: 0.9375rem;
  line-height: 20px;
}

aside {
  float: right;
  margin-top: 55%;
}

.picks {
  margin-right: 5rem;
  display: flex;
  justify-content: space-between;
  width: 300px;
  align-items: center;
}

.picks a {
  padding: 20px 10px;
  width: 300px;
  color: #333;
}

.picks a:hover {
  text-decoration: underline;
}

.picks img {
  width: 75px;
  margin: 8px 0;
}

.editor-title {
  font-size: 16px;
  border-bottom: 1px solid rgb(226, 226, 226);
  width: 300px;
  margin: 10px 0;
}

.caption-smaller {
  width: fit-content;
  font-size: 0.9375rem;
}

.related-content {
  display: flex;
  margin-right: 250px;
  margin-left: 250px;
}

.suggested-newsletter,
.more-in-section,
.most-popular {
  border-top: 0.5px black solid;
  padding-top: 20px;
}

.suggested-section {
  margin-right: 20px;
}

.suggested-newsletter {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.suggested-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.suggested-header a {
  padding-right: 20px;
}

.newsletter-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-img {
  display: flex;
  justify-content: space-between;
}

.card {
  border: 1px lightgray solid;
  width: 271.33px;
  padding: 20px;
  margin-right: 20px;
}

.space-card {
  width: 272px;
  padding: 10px;
  padding-bottom: 30px;
}

.space-card img {
  width: 272px;
  padding-right: 20px;
  padding-top: 20px;
}

.lower-title {
  font-size: 1.2rem;
  padding-left: 17px;
}

.most-popular-title {
  padding-bottom: 20px;
}

.bottom-link {
  border-top: 0.5px #333 solid;
  padding: 20px 0;
}

.bottom-link a {
  font-size: 20px;
  color: black;
}

footer {
  display: flex;
  justify-content: space-around;
}

.subscribe-section {
  display: flex;
  flex-direction: column;
}
