* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2px 2px;
  border-bottom: 1px solid #e2e2e2;
}

.nav-bar-link {
  color: black;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
}

.top-right-buttons {
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 2px;
}

.top-left-icons {
  display: flex;
  justify-content: space-around;

  width: 300px;
}

.btn {
  background-color: rgb(50, 104, 145);
  border: rgb(60, 114, 155);
  color: white;
  padding: 8px;
  border-radius: 5px;
  margin: 3px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-image {
  width: 1160px;
}
.main-header {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  font-size: 20px;
  font-style: italic;
  line-height: 3rem;
  font-weight: 700;
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  padding-top: 100px;
  padding-bottom: 20px;
}

.logo img {
  width: 200px;
}

main {
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
  font-size: 19px;
  width: 550px;
  left: 50%;
  margin: auto;
}

main p {
  margin: 5px 0;
  line-height: 1.5625rem;
}

.caption {
  width: 1100px;
  padding-top: 10px;
  color: #666;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
}

.grid {
  position: relative;
  right: 300px;
}

.grid-of-images {
  position: relative;
  /* left: auto;*/
}
.grid .grid-header {
  width: 1000px;
  text-align: left;
}

.grid .grid-header h3 {
  width: 100%;
  text-align: left;
}

.grid .grid-header .grid-header-caption {
  width: 1000px;
}

.grid-text {
  width: 240px;
  font-size: 14px;
  line-height: 20px;
  position: absolute;
}

.box-1 {
  top: 250px;
}

.box-2 {
  top: 250px;
  left: 250px;
}

.box-3 {
  top: 250px;
  left: 500px;
}

.box-4 {
  top: 250px;
  left: 750px;
}
.box-5 {
  top: 550px;
}

.box-6 {
  top: 550px;
  left: 250px;
}

.box-7 {
  top: 550px;
  left: 500px;
}

.box-8 {
  top: 550px;
  left: 750px;
}

hr {
  width: 100px;
}

.video .caption{
  width: 100%;
  font-size: 0.9375rem;
}

.in-text-img img,
.in-text-img p{
  width: 600px;
  font-size: 0.9375rem;
  line-height: 20px;
}